/* Features */
	.more {
		text-align: center;
		font-style: italic;
		font-size: .8em;
		opacity: .7;
	}
	.features {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		border-radius: _size(border-radius);
		border: solid 1px _palette(border);
		background: _palette(border-bg);
		margin: 0 0 _size(element-margin) 0;

		section {
			@include padding(3em, 3em, (0.5em, 0, 0, 4em));
			width: 50%;
			border-top: solid 1px _palette(border);
			position: relative;

			.status {
				position: absolute;
				top: 15px;
				right: 15px;
				text-transform: uppercase;
				font-size: 12px;
				background: #222;
				padding: 3px 6px;
				font-weight: 600;
				border-radius: 4px;

				&.abandoned {
					background: rgba(200,200,200,.3);
					color: #217955;
				}

				&.sold {
					background: rgba(18,44,80, .4);
				}

				&.ongoing {
					background: rgba(33,121,85, .4);
				}
			}

			h3 {
				line-height: 0;
				margin-bottom: 1.4em;
			}

			&:nth-child(-n + 2) {
				border-top-width: 0;
			}

			&:nth-child(2n) {
				border-left: solid 1px _palette(border);
			}

			.icon {
				@include vendor('transition', (
					'opacity #{_duration(activation) * 0.5} ease',
					'transform #{_duration(activation) * 0.5} ease'
				));
				@include vendor('transition-delay', '1s');
				@include vendor('transform', 'scale(1)');
				position: absolute;
				left: 2em;
				top: 3em;
				opacity: 1;
			}

			@for $i from 1 through _misc(max-features) {
				&:nth-child(#{$i}) {
					.icon {
						@include vendor('transition-delay', '#{(_duration(transition) * 0.75 * $i)}');
					}
				}
			}
		}

		&.inactive {
			section {
				.icon {
					@include vendor('transform', 'scale(0.5)');
					opacity: 0;
				}
			}
		}

		@include breakpoint('<=medium') {
			display: block;

			section {
				border-top-width: 1px !important;
				border-left-width: 0 !important;
				width: 100%;

				&:first-child {
					border-top-width: 0 !important;
				}
			}
		}

		@include breakpoint('<=small') {
			section {
				@include padding(2em, 1.5em, (0.5em, 0, 0, 4em));

				.icon {
					left: 1.5em;
					top: 2em;
				}
			}
		}

		@include breakpoint('<=xsmall') {
			section {
				@include padding(2em, 1.5em, (0, 0, 0, 0));

				.icon {
					left: 0;
					position: relative;
					top: 0;
				}
			}
		}
	}
