---
title: Recurring Studio • Building & Selling B2B SaaS Products
---

<section id="intro" class="wrapper style1 fullscreen fade-up">
	<div class="inner">
		<img src="images/logo.png" alt="" class="logo" />
		<h1>Recurring Studio</h1>
		<p>We are passionate about building <strong class="style3">B2B SaaS companies</strong>, <br>always starting from an MVP.
		<ul class="actions">
			<li><a href="#one" class="button scrolly">Learn more</a></li>
		</ul>
	</div>
</section>

<section id="one" class="wrapper style2 spotlights">
	<section>
		<a href="#" class="image"><img src="images/b2b.jpg" alt="" data-position="center center" /></a>
		<div class="content">
			<div class="inner">
				<h2>B2B SaaS</h2>
				<p>We are building SaaS (Software as a service) for B2B only. Why? Because we know how to bring massive value to companies, increasing their revenue or improving their productivity with software (and coffee also, yeah...).</p>
				<p>Also, this is what we love! Helping other companies succeed, we decided to focus on that, and only that.</p>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="images/card.jpg" alt="" data-position="top center" /></a>
		<div class="content">
			<div class="inner">
				<h2>Recurring Revenue Only</h2>
				<p>MRR, LTV, ARR, Churn, ARPU. These are the metrics we master to perfection. That's because we decided long ago to focus on this business model.</p>
				<p>Recurring revenue helps us build great products and great companies!</p>
			</div>
		</div>
	</section>

	<section>
		<a href="#" class="image"><img src="images/mvp.jpg" alt="" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h2>In MVP We Trust</h2>
				<p>MVP for <strong class="style3">Minimum Viable Product</strong>, the DNA of our methodology.</p>

				<h3>Minimum</h3>
				<p>This is the heart of our concept, building products with the <em>minimum</em> features, in a <em>minimum</em> of time, and with a <em>minimum</em> of resources.</p>

				<h3>Viable</h3>
				<p>A product is <em>viable</em> when it generates <strong>revenues</strong>. The product must therefore be tied to a business model, and customers must be ready to pay for it.</p>

				<h3>Product</h3>
				<p>We don't develop demos but actual <em>products</em> which have real value for real customers and real users.</p>
			</div>
		</div>
	</section>
</section>

<section id="two" class="wrapper style3 fade-up">
	<div class="inner">
		<h2>Companies & Products</h2>
		<div class="features">
			<section>
				<span class="icon project"><a href="https://javry.com/en"><img src="/images/projects/javry.png" /></a></span>
				<span class="status sold">Sold</span>
				<h3><a href="https://javry.com/en">Javry</a></h3>
				<p>Coffee as a Service. Coffee subscription service for enterprises.</p>
			</section>
			<section>
				<span class="icon project"><img src="/images/projects/cowboy.png" /></span>
				<span class="status abandoned">Abandoned</span>
				<h3>Cowboy.io</h3>
				<p>Send personalized mass emails using your Gmail or G Suite account.</p>
			</section>
			<section>
				<span class="icon project"><a href="https://overloop.com"><img src="/images/projects/overloop.png" /></a></span>
				<span class="status ongoing">Ongoing</span>
				<h3><a href="https://overloop.com">Overloop</a></h3>
				<p>Outbound platform mixing cold emails and LinkedIn automation.</p>
			</section>
			<section>
				<span class="icon project"><a href="https://bouncebuster.io"><img src="/images/projects/bouncebuster.png" /></a></span>
				<span class="status ongoing">Ongoing</span>
				<h3><a href="https://bouncebuster.io">Bouncebuster</a></h3>
				<p>Real-time email verifier.</p>
			</section>
		</div>

		<p class="more">More to come...</p>
	</div>
</section>

<section id="three" class="wrapper style1 fade-up">
	<div class="inner">
		<div class="split">
			<section>
				<ul class="contact">
					<li>
						<h3>Recurring Studio</h3>
						<span>
						<a href="mailto:hello@recurring.studio">hello@recurring.studio</a>
						</span>
					</li>
					<li>
						<ul class="icons">
							<li><a href="https://twitter.com/recurringstudio" target="blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://facebook.com/recurringstudio" target="blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://linkedin.com/company/recurringstudio/" target="blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						</ul>
					</li>
				</ul>
			</section>

			<section>
				<h3>Keep me updated</h3>
				<form action="https://api.letter.app/forms/v1/subscribers/46dbdb38-c13b-4b4f-8e52-4fd58caaab46" method="post">
					<div class="fields">
						<div class="field">
							<input type="text" name="email" id="email" placeholder="Your email address..." />
						</div>
					</div>
					<ul class="actions">
						<li>
							<input type="submit" value="Subscribe" class="button submit" />
						</li>
					</ul>
				</form>
			</section>
		</div>
	</div>
</section>
